{% extends 'accounts/base.html' %}

{% block title %}
    LOGIN
{% endblock title %}

{% block content %}
{% if form.errors %}
    <div>Неверный логин или пароль</div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <div>У вас нет прав для просмотра этой страницы</div>
    {% else %}
        <div>Для просмотра страницы войдите в аккаунт</div>
    {% endif %}
{% endif %}

<form method="post">
    {% csrf_token %}
    <div>{{form.username.label_tag}}</div>
    <div>{{form.username}}</div>

    <div>{{form.password.label_tag}}</div>
    <div>{{form.password}}</div>

    <input type="submit" value="Войти" />
    <input type="hidden" name="next" value="{{next}}" />
</form>

<div><a href="password_reset">Забыли пароль</a></div>
<div><a href="{% url 'accounts:signup' %}">Регистрация</a></div>
{% endblock content %}