{% load static %}

<link rel="stylesheet" href="{% static 'css/header.css' %}">
<div class="header pure-menu pure-menu-horizontal">
    <ul class="header-list pure-menu-list header-categories">
        <li class="pure-menu-item">
            <a href="{% url 'forum:home' %}" class="pure-menu-heading pure-menu-link">FORUM</a>
        <li class="pure-menu-item">
        <li class="pure-menu-item">
            <a href="{% url 'forum:favorite_topics' %}" class="pure-menu-link">FAVORITE_TOPICS</a> </li>
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">LINK_2</a>
        </li>
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">LINK_3</a>
        </li>
    </ul>
    <ul class="header-auth">
        {% if user.is_authenticated %}
        <li class="pure-menu-item">
            <a href="{% url 'accounts:profile' %}" class="pure-menu-link">PROFILE</a>
        </li>
        <li class="pure-menu-item">
            <a href="{% url 'accounts:logout' %}" class="pure-menu-link">LOGOUT</a>
        </li>
        {% else %}
        <li class="pure-menu-item">
            <a href="{% url 'accounts:login' %}" class="pure-menu-link">LOGIN</a>
        </li>
        <li class="pure-menu-item">
            <a href="{% url 'accounts:signup' %}" class="pure-menu-link">SIGN_UP</a>
        </li>
        {% endif %}
    </ul>
</div>